<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="fi">
<head>
	<meta name="keywords" content="minetest minetest-c55" />
	<meta name="description" content="Minetest (minetest-c55): An open source Infiniminer/Minecraft style game" />
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="stylesheet" href="/media/layout/style.css" type="text/css" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="bookmark icon" href="/favicon.ico" />
	<title>{% block title_tag %}{% endblock %}</title>
</head>

<body>

<div id="navbar" class="navbar">
	<div class="constrain">
		<span class="inbar_main">
			<ul>
				<li class="navlink_normal"><a href="/">About</a></li>
				<li class="navlink_normal"><a href="/news">News</a></li>
				<li class="navlink_normal"><a href="/download">Download</a></li>
				<li class="navlink_normal"><a href="/contribute">Contribute</a></li>
			</ul>
		</span>
		<span class="inbar_separator">
			|
		</span>
		<span class="inbar_other">
			<ul>
				<li class="navlink_special"><a href="http://c55.me/blog">Blog</a></li>
				<li class="navlink_special"><a href="http://wiki.minetest.com/wiki/">Wiki</a></li>
				<li class="navlink_special"><a href="forum/">Forum</a></li>
				<li class="navlink_special"><a href="https://github.com/celeron55/minetest">Github</a></li>
				<li class="navlink_special"><a href="http://api.minetest.net/">API</a></li>
			</ul>
		</span>
	</div>
</div>
<div class="navbarbottom1">
</div>

<div id="logo">
	<div class="constrain">
		<img src="/media/layout/minetest-icon-120.png" alt="logo" id="logoimage">
		<span class="bigheader">
			<h1>Minetest</h1>
			<h2>{% block title_sub %}{% endblock %}</h2>
		</span>
	</div>
</div>

<div id="content">
	<div class="constrain">
		<div style="clear: both;"></div>
<!-- end of header -->
		{% block content %}{% endblock %}
<!-- footer -->
	</div> <!-- .constrain -->
	<div style="clear: both;"></div>
</div> <!-- content -->

<div id="footer">
	<div class="constrain">
	</div>
	<div class="footerlogo">
		<img src="/media/layout/minetest-icon-120_gray_translucent.png" alt="logo">
		<span>
			<ul class="footermainlist">
				<li class="the_li">
					Minetest
				</li>
				<li>
					IRC Channels:
					<ul>
						<li>#minetest @ Freenode</li>
					</ul>
				</li>
				<li>
					Website by: Perttu Ahola, celeron55 @ IRCnet, Freenode, gmail.com
				</li>
				<li>
					Powered by
					<a href="http://freedns.afraid.org">FreeDNS</a>,
					<a href="http://emblica.org/">Emblica.org</a>
				</li>
			</ul>
		</span>
	</div>
</div>

</body>

</html>

