{% extends "main/base.html" %}

{% block title_tag %}Contribute - Minetest{% endblock %}
{% block title_sub %}Contribute{% endblock %}

{% block content %}
<h2>Contribute</h2>

<span class="contribclass">Needed:</span>
<p>
Minetest is in need for a new Mac OS X maintainer. The latest version is in here; it is very outdated: <a href="https://github.com/toabi/minetest-mac/">https://github.com/toabi/minetest-mac/</a>, <a href="http://minetest.net/forum/viewtopic.php?pid=55239">forum topic</a>
</p>

<span class="contribclass">Donate:</span>
<p>
You can <a href="donations.php">donate money</a> for covering hosting costs and other things.
</p>

<span class="contribclass">Users:</span>
<p>
<ul>
<li><a href="forum">The Forums</a></li>
<li><a href="http://webchat.freenode.net/?channels=minetest">#minetest on Freenode</a>.</li>
<li><a href="wiki/">The developer wiki</a> contains useful information for advanced users.</li>
</ul>
</p>

<span class="contribclass">Modders:</span>
<p>
You can create content to the game independently via <a href="forum/viewforum.php?id=9">mods</a>.
<ul>
<li><a href="http://api.minetest.net/">Modding API (tutorial/reference)<a></li>
<li><a href="https://github.com/celeron55/minetest/blob/stable-0.4/doc/lua_api.txt">doc/lua_api.txt: Short reference</a></li>
<li><a href="forum/viewforum.php?id=9">Forum / Modding General</a></li>
<li><a href="forum/viewforum.php?id=11">Forum / Mod Releases</a></li>
<li><a href="http://webchat.freenode.net/?channels=minetest-mods">#minetest-mods on Freenode</a>.</li>
<li><a href="http://webchat.freenode.net/?channels=minetest">#minetest on Freenode</a> (<a href="http://logs.2pktfkt.de/minetest/">log</a>)</li>
<li><a href="http://webchat.freenode.net/?channels=minetest-delta">#minetest-delta on Freenode</a> (<a href="http://logs.2pktfkt.de/minetest-delta/">log</a>)</li>
<li><a href="wiki/">The developer wiki</a></li>
</ul>
</p>

<span class="contribclass">Developers (serious stuff):</span>
<p>
The core development discussion usually happens on <a href="http://webchat.freenode.net/?channels=minetest-dev">#minetest-dev on Freenode</a>.
<ul>
<li><a href="forum/viewforum.php?id=7">Forum / Unofficial Engine Development</a></li>
<li><a href="http://webchat.freenode.net/?channels=minetest-dev">#minetest-dev on Freenode</a> (strictly serious work; <a href="http://irc.minetest.ru/minetest-dev/">log</a>)</li>
<li><a href="http://webchat.freenode.net/?channels=minetest-delta">#minetest-delta on Freenode</a> (more casual, not very active; <a href="http://logs.2pktfkt.de/minetest-delta/">log</a>)</li>
<li><a href="wiki/">The developer wiki</a></li>
</ul>
</p>

{% endblock %}
